@font-face {
    font-family: 'FreightDispProMedium';
    src: url('FreightDispProMedium-Regular.woff2') format('woff2'),
        url('FreightDispProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

